<!DOCTYPE html>
<html>
<head>
  <title>Minstrel2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='http://fonts.googleapis.com/css?family=Nunito:400,700,300' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Varela+Round' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
  <article class="type-system-rounded">
   <header class="centered-navigation">
  <div class="centered-navigation-wrapper">
    <a href="javascript:void(0)" class="mobile-logo">
      <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_3_dark.png" alt="Logo image">
    </a>
    <a href="javascript:void(0)" id="js-centered-navigation-mobile-menu" class="centered-navigation-mobile-menu">MENU</a>
    <ul id="js-centered-navigation-menu" class="centered-navigation-menu show">
      <li class="nav-link"><a href="javascript:void(0)">Popular</a></li>
      <li class="nav-link"><%= link_to "Feed", feed_path %></li>
      <li class="nav-link"><%= link_to "My Profile" %></li>
      <li class="nav-link logo">
      </li>
      <li class="nav-link"><a href="javascript:void(0)">Bands</a></li>
      <li class="nav-link more"><a href="javascript:void(0)">Genres</a>
        <ul class="submenu">
          <li><a href="javascript:void(0)">Rock</a></li>
          <li><a href="javascript:void(0)">Pop</a></li>
          <li class="more"><a href="javascript:void(0)">Item with submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu Item</a></li>
              <li><a href="javascript:void(0)">Another Item</a></li>
            </ul>
          </li>
          <li class="more"><a href="javascript:void(0)">Another submenu</a>
            <ul class="submenu">
              <li><a href="javascript:void(0)">Sub-submenu</a></li>
              <li><a href="javascript:void(0)">An Item</a></li>
            </ul>
          </li>
        </ul>
      </li>
      <% if user_signed_in? %>
        <li class="nav-link">
          <%= link_to current_user.full_name, edit_path %>
          <li class="nav-link"><%= link_to 'Log Out', sign_out_path %></li>
        <% else %>
          <li class="nav-link">
            <%= link_to "Sign In", sign_in_path %>
          </li>
          <li class="nav-link">
            <%= link_to "Register", register_path %>
          </li>
        <%end%>   
        </li>
    </ul>
  </div>
</header>
    <div class="main-container">

      <%if flash[:notice] %>
        <label class="label-success">
          <%= flash[:notice] %>
        </label>
      <% end %>

      <%if flash[:alert] %>
        <label class="label-error">
          <%= flash[:alert] %>
        </label>
      <% end %>

      <%= yield %>
    </div>
  </article>
</body>  
</html>

